:root {
  --primary-text-color: #212121;
  --background-color: #2f303a;
  --accent-color: #2196f3;
  --second-text-color: #f5f4fa;
  --third-text-color: #757575;
}

body {
  color: var(--primary-text-color);
  list-style: none;
  font-family: Roboto, serif;
  letter-spacing: 0.03em;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  padding: 24px 0;
}

.logo {
  display: block;
  margin-right: 93px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 700;
  font-family: Raleway, serif;
  font-size: 26px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-main {
  display: flex;
}

.navigation-logo {
  color: var(--accent-color);
}

.navigation-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.active {
  color: var(--accent-color);
}

.contacts-svg {
  fill: var(--third-text-color);
  margin-right: 10px;
}

.navigation-link:hover svg,
.navigation-link:focus svg {
  fill: var(--accent-color);
}

.contacts .navigation-link {
  color: var(--third-text-color);
}

.navigation-link:hover,
.navigation-link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.line {
  border: 1px solid #ececec;
}

.main-title {
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
}

.button {
  font-family: Roboto, serif;
  font-weight: 700;
  line-height: 1.87;
  background-color: var(--accent-color);
  border: inherit;
  border-radius: 2px;
  color: var(--second-text-color);
  cursor: pointer;
  padding: 10px 32px;
}

.section {
  display: flex;

  padding: 94px 0;
}

.peculiarities {
  display: flex;
}

.main-section {
  width: 1600px;
  margin: auto;
  display: block;
  text-align: center;

  color: var(--second-text-color);
  padding: 200px 0;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: var(--accent-color);
}

.item .pecularities-svg {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f5f4fa;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.peculiarities .item {
  margin-right: 30px;
  max-width: 400px;
  width: 270px;
}

.item .peculiarities .item:last-child {
  margin-right: 0;
}

.section-title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.section-title::before {
  content: "";
  background-image: url(../images/icons.svg#icon-antenna);
  width: 65.32px;
  height: 70px;
}

.section-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--third-text-color);
}

.section-doings {
  padding-top: 0;
}

.section-doings .container {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-heading {
  font-size: 36px;
  margin-bottom: 50px;
}

.section-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.section-doings ul {
  display: flex;
}

.section-doings-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-doings-item:last-child {
  margin-right: 0;
}

.section-team-list {
  display: flex;
}

.section-team .container {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.section-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}

.section-team-item:last-child {
  margin-right: 0px;
}

.section-name,
.section-position {
  text-align: center;
}

.worker {
  padding: 30px 0;
}

.section-position {
  font-size: 16px;
  color: var(--third-text-color);
}

.socials {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.social-item {
  margin-left: 10px;
}

.social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social-item-icon {
  fill: #afb1b8;
}

.social-item:first-child {
  margin-left: 0;
}

.social-item a:hover,
.social-item a:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item a:hover svg,
.social-item a:focus svg {
  fill: #ffffff;
}

.social-item .footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.address {
  font-style: normal;
  margin-right: 70px;
}

.address p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 9px;
}

ul .address-item:first-child {
  margin-bottom: 9px;
}

.section-partners .container {
  flex-wrap: wrap;
  flex-direction: column;
}

.section-partners h2 {
  text-align: center;
}

.partners-list {
  display: flex;

  justify-content: center;
  align-items: center;
}

.partners-item {
  width: 170px;
  height: 92px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-item a {
  height: 100%;
  width: 100%;
  text-align: center;
  border: 1px solid #afb1b8;
}

.partners-item:not(:last-child) {
  margin-right: 30px;
}

.partners-svg {
  fill: #afb1b8;
  height: 100%;
}

.partners-item a:hover,
.partners-item a:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.partners-item a:hover svg,
.partners-item a:focus svg {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  padding: 60px 0;
}

.join {
  margin-top: 12px;
}

.join .socials {
  margin-left: 0;
}

.join .social-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-left: 10px;
}

.join .social-item:first-child {
  margin-left: 0;
}

.join .social-item-icon {
  fill: #ffffff;
}

.join .social-item:hover,
.join .social-item:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join h3 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.14;
  font-size: 14px;
  vertical-align: bottom;
  margin-bottom: 20px;
}

.footer-logo {
  line-height: 31px;
  margin-bottom: 20px;
}

.footer-logo,
.address p {
  color: var(--second-text-color);
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hidden-title {
  visibility: hidden;
}

.portfolio-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works .container {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.potfolio-navigation-item {
  margin-left: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
}
.portfolio-button:focus,
.portfolio-button:hover {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  color: var(--second-text-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects li {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
}

.projects-item:hover,
.projects-item:focus {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects li:nth-child(3n) {
  margin-right: 0;
}

.projects li:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  color: var(--third-text-color);
  font-size: 16px;
  line-height: 1.88;
}
